---
const b = import.meta.env.BASE_URL;
const base = b === "/" ? "" : b;
const configUrl = `${base}/config.yml`;

const html = `<script>
window.CMS_MANUAL_INIT = true;
<\/script>
<script src="https://unpkg.com/decap-cms@3/dist/decap-cms.js"><\/script>
<script>
CMS.init({config:'${configUrl}'});
<\/script>`;
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Administration</title>
  <link rel="icon" href={`${base}/favicon.png`} />
</head>
<body>
  <Fragment set:html={html} />
</body>
</html>
